.toggle-container {
  .toggle {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 1.25rem;
      margin-top: -0.25rem;
      background-color: $pt-black;
      transition: all 0.08s cubic-bezier(0.4, 0, 1, 1);
    }
    &[aria-checked='true']::before {
      transform: translateX(1rem);
    }

    svg {
      position: absolute;
      color: $pt-white;
      font-size: 0.75rem;
      transform: translate(4px, 0px);
      transition: all 0.08s cubic-bezier(0.4, 0, 1, 1);
    }
    &[aria-checked='true'] svg {
      transform: translate(21px, 0px);
    }
  }
}

html.dark {
  .toggle-container {
    .toggle {
      &::before {
        background-color: $pt-white;
      }
      svg {
        color: $pt-black;
      }
    }
  }
}
