@import 'vars.json';
@import './peetjvv-styles-tailwind/main.scss';

@import 'animation.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Sniglet', cursive;
  font-size: 1rem;

  #app {
    height: 100vh;
    width: 100vw;

    .content-panel {
    }
  }
}
